doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width user-scalable=no")
		meta(name="format-detection", content="telephone=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		title Welcome to ohGas for Fanfou
		link(rel='stylesheet', href="/main.css")
	body(ontouchstart="", style="padding-top: 30px;")
		h1.section(style="font-size: 1.5rem;") Node-Fanfou-OAuth
		h2.section Simple demonstration using Node.js with Fanfou API
		div.section.claim 
			h2 Required Packages:
			ul
				li - body-parser: ^1.14.1
				li - express: ^4.13.3
				li - jade: ^1.11.0
				li - oauth: ^0.9.14

		a.getOAuth__btn(href="/oauth/fanfou") 使用饭否授权登录
