<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width user-scalable=no">
		<meta name="format-detection" content="telephone=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>Welcome to ohGas for Fanfou</title>
		<link rel='stylesheet' href="/main.css">
	<body style="padding-top: 30px;">
		<h1 class="section" style="font-size: 1.5rem;">Node-Fanfou-OAuth</h1>
		<h2 class="section">Simple demonstration using Node.js with Fanfou API</h2>
		<div class="section claim">
			<h2>Required Packages:</h2>
			<ul>
				<li>body-parser: ^1.14.1</li>
				<li>express: ^4.13.3</li>
				<li>nunjucks: ^3.0.1</li>
				<li>oauth: ^0.9.14</li>
			</ul>
			<a class="getOAuth__btn" href="/oauth/fanfou">使用饭否授权登录</a>
		</div>
	</body>
</html>
		
